<%- include('partials/Header') %>


<div  style="margin-top: 135px;" class="col-lg-6">
    <div class="card m-b-30">
        <div class="card-body">
<h4>add banner</h4>
            <p class="sub-title">you can add your products here.</p>
               
            <form action="/admin/AddBanner" method="post" enctype="multipart/form-data" >
                

                  <br>
                  <select id="MainCategory" class="form-control" name="Category" onchange="callSubCategory()">
                                    
                    <option value=" " selected disabled>Please select</option>
                    
                    <% for(let i=0;i<locals.category.length;i++){ %>
                        <option  ><%=  category[i].MainCategory %> </option>

                        <% } %> 
                  </select>

                  <br>
                  <select class="form-control" name="subCategory" id="subCatagory">

                  </select>


                <div class="form-group">
                    <br> 
                    <label>Product name</label>
                    <div>
                        <input name="bannername" type="text" class="form-control" required
                               data-parsley-minlength="6" placeholder="Product name"/>
                    </div>
                 
                    <label>Product Details</label>
                    <div>
                      <textarea placeholder="add details" name="desc" class="form-control" id="" cols="15" rows="5"></textarea> 
                    </div>

                    <label>images</label>
                    <div class="form-group">
                        <input multiple id="img" name="images" type="file" class="form-control"
                              placeholder="images"/>
                        <img src="#" alt="" id="imgPreview">
                    </div>
                </div>
          
              


                <div class="form-group m-b-0">
                    
                    <div>
                        <button type="submit" class="btn btn-primary waves-effect waves-light">
                            Submit
                        </button>
                        <button id="" type="reset" class="btn btn-secondary waves-effect m-l-5">
                            Cancel
                        </button>
                     
                    </div>
                </div>
            </form>
         
            
        </div>
    </div>
</div>

<script defer src="https://cdn.crop.guide/loader/l.js?c=BTKJBK"></script>
<%- include("partials/footer") %>