<footer class="footer">
    © 2019 - 2020 Stexo <span class="d-none d-sm-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign</span>.
</footer>
   <!-- End Footer -->

    <!-- jQuery  -->
    <script src="/assetsAdmin/js/jquery.min.js"></script>
    <script src="/assetsAdmin/js/bootstrap.bundle.min.js"></script>
    <script src="/assetsAdmin/js/jquery.slimscroll.js"></script>
    <script src="/assetsAdmin/js/waves.min.js"></script>

    <!--Morris Chart-->
    <script src="/assetsAdmin/plugins/morris/morris.min.js"></script>
    <script src="/assetsAdmin/plugins/raphael/raphael.min.js"></script>

    <script src="/assetsAdmin/pages/dashboard.init.js"></script>

    <!-- App js -->
    <script src="/assetsAdmin/js/app.js"></script>

</body>

</html>